#tab-portfolio {
  height: 100%;
  max-width: 200rem;
  margin: 0 auto;
  position: relative;

  // padding: 0 -2rem -2rem;
  @import url("https://fonts.googleapis.com/css?family=Cardo:700");

  // h1 {
  //   font-size: 20vw;
  // }

  // infinite text
  .title {
    // position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    margin-bottom: 200px;
    height: 20vh;
    h2 {
      font-size: 5vw;
      white-space: nowrap;
      opacity: 0.85;
      line-height: 10vh;
      animation: marquee 10s linear infinite;
    }
    // z-index: 10;
  }

  @keyframes marquee {
    0% {
      transform: translate(0%, 0);
    }
    100% {
      transform: translate(-141.5vw, 0);
    }
  }
}

// slide banner
// .slide-banner {
//   width: 100%;
//   max-width: 100rem;
//   overflow: hidden;
//   img {
//     width: 1200px;
//     height: 400px;
//     object-fit: cover;
//     animation: scroll 60s linear infinite;
//   }

//   .slide-track {
//     width: 100%;
//     display: flex;
//     gap: 3em;
//     overflow: hidden;
//     margin: 0 auto;
//   }

//   .slider {
//     margin-top: 70px;
//     background-color: whitesmoke;
//     padding: 8em 2em;
//   }

//   @keyframes scroll {
//     0% {
//       transform: translateX(0);
//     }
//     100% {
//       transform: translatex(-1000%);
//     }
//   }
// }

// banner-container
.banner-container {
  width: 80%;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;

  .slider {
    width: 500%;
    position: relative;
    animation: animate 10s linear infinite;
  }
  .slide {
    width: 20%;
    position: relative;
    float: left;
    height: 50vh;
    background-size: cover;
    overflow: hidden;

    img {
      width: 100%;
      height: 50vh;
      object-fit: contain;
    }
  }
  // h1 {
  //   margin: 0;
  //   padding: 0;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   text-align: center;
  //   font-size: 6em;
  //   width: 100%;
  //   background: rgba(0, 0, 0, 0.6);
  //   color: #fff;
  // }
  // .slide:nth-child(1) {
  //   background: url(../../image/banner/bnr-1.jpg) no-repeat center center;
  // }
  // .slide:nth-child(2) {
  //   background: url(../../image/banner/bnr-2.png) no-repeat center center;
  // }
  // .slide:nth-child(3) {
  //   background: url(../../image/banner/bnr-3.jpg) no-repeat center center;
  // }
  // .slide:nth-child(4) {
  //   background: url(../../image/banner/bnr-4.png) no-repeat center center;
  // }
  // .slide:nth-child(5) {
  //   background: url(../../image/banner/bnr-5.jpg) no-repeat center center;
  // }
  @keyframes animate {
    0% {
      left: 0;
    }
    16% {
      left: 0;
    }
    20% {
      left: -100%;
    }
    36% {
      left: -100%;
    }
    40% {
      left: -200%;
    }
    56% {
      left: -200%;
    }
    60% {
      left: -300%;
    }
    76% {
      left: -300%;
    }
    80% {
      left: -400%;
    }
    96% {
      left: -400%;
    }
    100% {
      left: 0;
    }
  }
}

// container

.g-container {
  @media screen and (max-width: 1280px) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 100px;
  }

  // position: relative;
  padding: 200px 0;
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

h2 {
  font-size: 4vw;
  color: #4e4e4e;
  padding: 25px 0;
  text-transform: uppercase;
  // color: #757575;
}
.gallery-wrap {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 210vh;
    flex-wrap: nowrap;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
    height: 160vh;
  }
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.item {
  flex: 2;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;

  &:hover {
    flex: 5;
  }
}

.item-1 {
  background-image: url("../../image/dar_1.jpg");
}

.logo {
  @media screen and (max-width: 1280px) {
    position: absolute;
    right: 390px;
    top: 60px;
  }

  position: absolute;
  right: 330px;
  top: 85px;

  img {
    display: block;
    width: 30px;
    margin: 20px;
    opacity: 0.5;
  }
}
